<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>StreetVibes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/regresar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/StylesChatbot.css') }}">


    
    
</head>

<body>
  <div class="mydict">
    <div>

      <label>
        <input type="radio" name="radio">
        <span><a href="/login">LOG IN</a></span>
      </label>

      <label>
        <input type="radio" name="radio">
        <span><a href="/catalogo">CATALOGO</a></span>
      </label>
      
    </div>
  </div>
  <br><br><br>

    <script type="text/javascript" src="{{ url_for('static', filename='js/2.js') }}"></script>
    <div class="card">
      <div class="chat-header">StreetBot  <span id="toggleChat" onclick="toggleChat()"> ▼</span></div>
  
      <div class="chat-window" id="chatbox">
          <ul class="message-list"></ul>
      </div>
  
      <div class="chat-input">
          <input type="text" class="message-input" id="userInput" placeholder="Deajate ayudar de StreetBot">
          <button onclick="enviarMensaje()" class="send-button">Send</button>
      </div>
  </div>
  <script>
      function enviarMensaje() {
          var mensaje = document.getElementById("userInput").value;
          document.getElementById("chatbox").innerHTML += "<p><strong>Tú:</strong> " + mensaje + "</p>";
  
          fetch('/chat', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ mensaje: mensaje })
          })
          .then(response => response.json())
          .then(data => {
              document.getElementById("chatbox").innerHTML += "<p><strong>Chatbot:</strong> " + data.respuesta + "</p>";
              document.getElementById("userInput").value = "";
          });
      }
  
      function toggleChat() {
          const card = document.querySelector('.card');
          card.classList.toggle('minimized');
      }
  </script>
    
    
</body>
</html>